<h1>Login</h1>

<%= form_with url: login_path, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>
