<div id="<%= dom_id transferencia %>">
  <p>
    <strong>Artículo:</strong>
    <%= transferencia.articulo.marca %> <%= transferencia.articulo.modelo %>
  </p>

  <p>
    <strong>Portador Anterior:</strong>
    <%= link_to "#{transferencia.portador_anterior.nombre} #{transferencia.portador_anterior.apellido}", persona_path(transferencia.portador_anterior) %>
  </p>

  <p>
    <strong>Nuevo Portador:</strong>
    <%= link_to "#{transferencia.nuevo_portador.nombre} #{transferencia.nuevo_portador.apellido}", persona_path(transferencia.nuevo_portador) %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= transferencia.fecha %>
  </p>

  <p>
    <%= link_to "Mostrar", transferencia %> |
    <%= link_to "Editar", edit_transferencia_path(transferencia) %> |
    <%= button_to "Eliminar", transferencia, method: :delete, form: { data: { turbo_confirm: '¿Estás seguro?' } } %>
  </p>
  <hr>
</div>
