<h1>Transferencia</h1>

<p>
  Artículo: <%= @transferencia.articulo.marca %> <%= @transferencia.articulo.modelo %><br>
  Portador Anterior: <%= @transferencia.portador_anterior.nombre %> <%= @transferencia.portador_anterior.apellido %><br>
  Nuevo Portador: <%= @transferencia.nuevo_portador.nombre %> <%= @transferencia.nuevo_portador.apellido %><br>
  Fecha: <%= @transferencia.fecha %>
</p>

<%= link_to "Editar", edit_transferencia_path(@transferencia) %> |
<%= link_to "Volver al listado", transferencias_path %>
