<div id="<%= dom_id articulo %>">
  <p>
    <strong>Modelo:</strong>
    <%= articulo.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= articulo.marca %>
  </p>

  <p>
    <strong>Fecha ingreso:</strong>
    <%= articulo.fecha_ingreso %>
  </p>

  <p>
    <strong>Portador:</strong>
    <%= articulo.portador_id %>
  </p>

</div>
